/* google fonts */
@import url(font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;);






/* common styles or utilites */
*{
    margin: 0;
    padding: 0;
    
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 85%;
    margin: 0 auto;
}

.primary-btn{
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    border: 3px solid transparent;
    border-radius: 8px;
    padding: 20px 25px;
    background: #FF900E;

}

.primary-btn:hover{
    background-color: transparent;
    border: 3px solid orangered;
    color: black;
    
}


/*  style- header section */
header{
    background: rgba(255, 144, 14, 0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.navigation ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.navigation ul li a{
    color: #fd0000;
    text-transform: capitalize;
    font-weight: 500;
font-size: 28px;
line-height: 26px;
text-decoration: none;
letter-spacing: 1px;

}

.navigation ul li a:hover{
    color: #FF900E;
}
.h-banner{
    margin-top: 60px;
    text-align: center;
}
.h-banner p{
    color: #727272;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 200px;
    padding-left: 200px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color .5s, border 1s, color .5s;
}

.h-banner .primary-btn{
    margin-bottom: 50px;
}
.h-banner-image img{
    width: 100%;
}
.text-3{
    color: #FF900E;
    font-weight: 700;
font-size: 45px;
line-height: 53px;
}
.text-2{
    color:black;
    font-weight: 700;
font-size: 45px;
line-height: 53px;
}



/* Features design */

.main-feature{
    display: flex;
    margin-top: 60px;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-text .text-1{
    color: #727272;
    font-weight: 500;
font-size: 45px;
line-height: 53px;
}
.feature-text .text-2{
    color: #131313;
    font-weight: 700;
font-size: 45px;
line-height: 53px;
}
.feature-text .text-3{
    color: #FF900E;
    font-weight: 700;
font-size: 45px;
line-height: 53px;
}
.feature-content{
    margin-top: 30px;
    color: #727272;
    font-weight: 400;
font-size: 16px;
line-height: 26px;
}

.primary-btn{
    margin-top: 30px;
}



/* feature items section styles */
.feature-items{
    margin: 60px;
    width: 100%;
    
}
.feature-box{
    display: flex;
    gap: 100px;

    
}
.feature-title{
    color: #131313;
    font-weight: 700;
font-size: 45px;
line-height: 53px;
margin: 0 0 10px;
}
.feature-content-item{
    width: 55%;
}
.feature-des{
    color: #727272;
    font-weight: 400;
font-size: 16px;
line-height: 26px;
margin-top: 30px;
margin-right: 15px;
}

.feature-sub-box-idea{
    display: grid;
    grid-template-columns: 4, 1fr;
    gap: 30px;
    
}

.feature-sub-box{
    background: #FFFFFF;
    border: 3px ;
    border: 3px solid orangered;
    border-radius: 5px;
}
.feature-sub-box-idea{
    margin-top: 40px;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 4, 1fr;
    
}

.feature-sub-box-title{
    color: #131313;
    font-weight: 600;
font-size: 20px;
line-height: 23px;
margin: 30px;
}

.feature-sub-box-des{
    color: #727272;
    font-weight: 400;
font-size: 16px;
line-height: 26px;
margin: 30px;
}

.feautre-image-item{

}
.item-image{
width:45%;
}

.main-image img{
    width: 445px;
height: 677px;
border-radius: 8px;
}
.item-image{

}
.primary-btn-text{
    color:#ffffff;
    background: #FF900E;
border-radius: 8px;
width: 342px;
height: 200px;
text-align: center;
font-size: 30px;
margin: 46px, 42px, 45px, 42px;
}

.feature-sub-picture{
   
}


/* fact style */

.fact {
    margin-top: 111px;
    
}

 .fact-text{
    color: #131313;
    text-align: center;
    margin-left: 40%;
    font-size: 45px;
    font-weight: 700;
    
    width: 258px;
    line-height: 100px;
    
}

.fact-des{
    color: #727272;
    font-weight: 400;
font-size: 16px;
line-height: 26px;
    text-align: center;
    padding: 542px, 52px;
    margin-top: 10px;
    
}

.box-fact{
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    
    
    
}
.box-fact .fact-sub-box{
border: 1px solid orangered;
width: 185px;
    height: 181px;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 30px;
    text-align: center;
    

}
.box-fact .fact-sub-box:hover{
    background-color:  orange;
}


/* our sponsors */

.sponsor{
    margin-top: 111px;
}

.sponsor-text{
color: #131313;
text-align: center;
font-weight: 700;
font-size: 45px;
line-height: 53px
}

.sponsor-des{
color: #727272;
text-align: center;
margin-top: 28px;
margin-left: 245px;
font-weight: 400;
font-size: 16px;
line-height: 26px;
width: 542px;
height: 52px;
}

.sponsor-fact{
    display: flex;
    justify-content: space-between;
    margin-top: 68px;
}

/* footer section styles */
.end-section{
margin-top: 60px;

}
.footer-des{
color: #424242;
margin-top: 28px;
text-align: center;
font-weight: 400;
font-size: 20px;
line-height: 23px;
padding: 30px;

}
.back-color{
    background: #fcbd71;
width: 1081px;
height: 87px; 
}

