/* google fonts */
@import url(font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;);






/* common styles or utilites */
*{
    margin: 0;
    padding: 0;
    
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 85%;
    margin: 0 auto;
}

.primary-btn{
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    border: 3px solid transparent;
    border-radius: 8px;
    padding: 20px 25px;
    background: #FF900E;

}

.primary-btn:hover{
    background-color: transparent;
    border: 3px solid orangered;
    color: black;
    
}


/*  style- header section */
header{
    background: rgba(255, 144, 14, 0.1);
    padding-bottom: 42px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.navigation ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.navigation ul li a{
    color: #fd0000;
    text-transform: capitalize;
    font-weight: 500;
font-size: 28px;
line-height: 26px;
text-decoration: none;
letter-spacing: 1px;

}

.navigation ul li a:hover{
    color: #FF900E;
}
.h-banner{
    margin-top: 60px;
    text-align: center;
}
.h-banner p{
    color: #727272;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 200px;
    padding-left: 200px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color .5s, border 1s, color .5s;
}

.h-banner .primary-btn{
    margin-bottom: 50px;
}
.h-banner-image img{
    width: 100%;
}
.text-3{
    color: #FF900E;
    font-weight: 700;
font-size: 45px;
line-height: 53px;
}
.text-2{
    color:black;
    font-weight: 700;
font-size: 45px;
line-height: 53px;
}



/* Features design */

.main-feature{
    display: flex;
    margin-top: 60px;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}

.feature-text .text-1{
    color: #727272;
    font-weight: 500;
font-size: 45px;
line-height: 53px;
}
.feature-text .text-2{
    color: #131313;
    font-weight: 700;
font-size: 45px;
line-height: 53px;
}
.feature-text .text-3{
    color: #FF900E;
    font-weight: 700;
font-size: 45px;
line-height: 53px;
}
.feature-content{
    margin-top: 30px;
    color: #727272;
    font-weight: 400;
font-size: 16px;
line-height: 26px;
}

.primary-btn{
    margin-top: 30px;
}



/* feature items section styles */
.feature-items{
    margin-top: 60px;
    position: relative;
    
    
}
.feature-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 88px;  
}
.feature-title{
    color: #131313;
    padding-left: 20px;
    font-size: 45px;
    border-left: 7px solid orange;
}

.feature-des{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;

}

.feature-sub-box{
    margin: 20px 0;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    padding: 20px;
    
    
}

.feature-sub-box-title{
    color: #131313;
    
font-size: 20px;
line-height: 23px;

}

.feature-sub-box-des{
    color: #727272;
    font-weight: 400;
font-size: 16px;
line-height: 26px;

}


.main-image img{
    width: 100%;
}

.primary-btn-text{
    color:#ffffff;
    background: #FF900E;
border-radius: 8px;
width: 342px;
height: 200px;
text-align: center;
font-size: 30px;
margin: 46px, 42px, 45px, 42px;
}

.experience{
    color: #ffff;
    text-align: center;
    padding: 40px 45px;
    background-color: orange;
    color: #ffff;
    position: absolute;
    left: 50%;
    bottom: 8%;
    
}

.experience h1{
    font-size: 46px;
    font-weight: 700;  
}

.experience p{
    font-size: 20px;
}


/* fact style */

.fact {
    margin-top: 111px;
    
}

 .fact-text{
    color: #131313;
    text-align: center;
    margin-left: 40%;
    font-size: 45px;
    font-weight: 700;
    
    width: 258px;
    line-height: 100px;
    
}

.fact-des{
    color: #727272;
    font-weight: 400;
font-size: 16px;
line-height: 26px;
    text-align: center;
    margin-top: 10px;
}

.box-fact{
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;   
    
}
.box-fact .fact-sub-box{
border: 1px solid orangered;
width: 185px;
    height: 181px;
    border-radius: 5px;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.box-fact .fact-sub-box:hover{
    background-color:  orange;
}


/* our sponsors */

.sponsor{
    margin-top: 111px;
}

.sponsor-text{
    color: #131313;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px
    }

.sponsor-des{
color: #727272;
text-align: center;
margin-top: 28px;
margin-left: 245px;
font-weight: 400;
font-size: 16px;
line-height: 26px;
width: 542px;
height: 52px;
}

.sponsor-fact{
    display: flex;
    justify-content: space-between;
    margin-top: 68px;
}

/* footer section styles */
.end-section{
margin-top: 60px;
}

.footer-text{
    background-color: #FFF4E7;
    text-align: center;
    padding: 20px;
}





/* responsive design */

@media only screen and (max-width:576px){
    .container{
        width: 90%;
    }
    
    .text-3{   
    font-size: 26px;
    }
    .text-2{
    font-size: 26px;
    }
    .navigation ul{
        flex-direction: column;
        gap: 10px;
    }
    .h-banner p{
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
    }

    .main-feature{
       
        flex-direction: column-reverse;
        gap: 40px;
    }

    .feature-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;  
    }
    .feature-img img{
        width: 100%;
    }
    .feature-text{
text-align: center;
    }

    .feature-text .text-1,.feature-text .text-2,.feature-text .text-3
    {  
    font-size: 25px;
    }
    .feature-box{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .feature-title{  
        font-size: 25px;
    }

    .experience{
        left: 0%;
        bottom: 0;  
    }
    .fact{
        margin-top: 15px;
    }
    .fact-text{
        color: #131313;
        margin-left: 0%;
        font-size: 25px;
        width: 100%;
    }
    .box-fact{
        margin-top: 40px;
        flex-direction: column; 
        align-items: center; 
        gap: 15px;
    }
    .sponsor{
        margin-top: 80px;
    }

    .sponsor-text{
        font-size: 25px;
        }
            .sponsor-fact {
                flex-direction: column;
                align-items: center;
                margin-top: 18px;
                gap:10px;
            }
            .sponsor-des{
                text-align: center;
                margin-top: 0;
                margin-left: 0;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                width: 100%;
                height: 100%;
                }
    
    
}